<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- new view definition -->
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.opalproject.vespucci.ui.category"
            name="Vespucci Global Repository" />
      <view
            allowMultiple="false"
            category="de.opalproject.vespucci.ui.category"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="de.opalproject.vespucci.ui.navigator.view"
            name="Vespucci"
            restorable="true" />
   </extension>

   <!-- Project explorer extension -->
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="de.opalproject.vespucci.ui.navigator.VirtualContent"/>
         </includes>
      </viewerContentBinding>
   </extension>

   <!-- custom navigator definition -->
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="de.opalproject.vespucci.ui.navigator.view" />
      <viewerContentBinding viewerId="de.opalproject.vespucci.ui.navigator.view">
         <includes>
            <contentExtension pattern="org.eclipse.ui.navigator.resourceContent"/>
	        <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
            <contentExtension pattern="de.opalproject.vespucci.ui.navigator.VirtualContent"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="de.opalproject.vespucci.ui.navigator.view">
         <includes>
       	     <actionExtension pattern="org.eclipse.ui.navigator.resources.*" />
         </includes>
      </viewerActionBinding>
   </extension>

   <!-- content definiton for navigator  -->
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="de.opalproject.vespucci.ui.navigator.providers.VespucciContentProvider"
            id="de.opalproject.vespucci.ui.navigator.VirtualContent"
            labelProvider="de.opalproject.vespucci.ui.navigator.providers.VespucciLabelProvider"
            name="Virtual content"
            priority="normal">
         <triggerPoints>
          <and> 
            <instanceof value="org.eclipse.core.resources.IResource"/> 
             <test 
					forcePluginActivation="true" 
					property="org.eclipse.core.resources.extension" 
					value="vespucci"/> 
          </and>
         </triggerPoints>
         <possibleChildren>
               <instanceof
                     value="de.opalproject.vespucci.datamodel.TreeNode">
               </instanceof>
         </possibleChildren>
         <dropAssistant
               class="de.opalproject.vespucci.ui.dnd.EnsembleDropAdapter"
               id="de.opalproject.vespucci.ui.dnd.EnsembleDropAdapter">
            <possibleDropTargets>
               <instanceof
                     value="de.opalproject.vespucci.datamodel.TreeNode">
               </instanceof></possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
  </extension>
  
  
  <!-- commands -->
    
   <!-- popup menu for ensembles -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="de.opalproject.vespucci.ui.edit.new"
               id="de.opalproject.vespucci.ui.popupmenu.new"
               label="New Ensemble"
               mnemonic="N"
               style="push" >
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="de.opalproject.vespucci.ui.definitions.singleEnsemble">
                  </reference>
                  <reference
                        definitionId="de.opalproject.vespucci.ui.definitions.ensembleRepository">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="de.opalproject.vespucci.ui.edit.newSlice"
               id="de.opalproject.vespucci.ui.popupmenu.newSlice"
               label="New Slice"
               mnemonic="N"
               style="push" >
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="de.opalproject.vespucci.ui.definitions.sliceRepository">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="de.opalproject.vespucci.ui.editor.openEditor"
               id="de.opalproject.vespucci.ui.popupmenu.open"
               label="Open"
               style="push" >
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.opalproject.vespucci.ui.definitions.ensembles">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               id="de.opalproject.vespucci.ui.popupmenu.delete"
               label="Delete"
               mnemonic="D"
               style="push" >
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.opalproject.vespucci.ui.definitions.ensembles">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.rename"
               id="de.opalproject.vespucci.ui.popupmenu.rename"
               label="Rename"
               mnemonic="R"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.opalproject.vespucci.ui.definitions.ensembles">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.opalproject.vespucci.ui.editor.openDiagramEditor"
               id="de.opalproject.vespucci.ui.popupmenu.openDiagram"
               label="Open"
               style="push" >
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.opalproject.vespucci.ui.definitions.singleSlice">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
    </extension>
   
  <!-- handler -->
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.opalproject.vespucci.ui.handlers.RenameHandler"
            commandId="org.eclipse.ui.edit.rename">
         <enabledWhen>
            <reference
                  definitionId="de.opalproject.vespucci.ui.definitions.singleEnsemble">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="de.opalproject.vespucci.ui.handlers.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
            <reference
                  definitionId="de.opalproject.vespucci.ui.definitions.ensembles">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="de.opalproject.vespucci.ui.handlers.NewEnsembleHandler"
            commandId="de.opalproject.vespucci.ui.edit.new">
         <enabledWhen>
            <or>
               <reference
                     definitionId="de.opalproject.vespucci.ui.definitions.ensembleRepository">
               </reference>
               <reference
                     definitionId="de.opalproject.vespucci.ui.definitions.singleEnsemble">
               </reference>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="de.opalproject.vespucci.ui.handlers.NewSliceHandler"
            commandId="de.opalproject.vespucci.ui.edit.newSlice">
       <enabledWhen>
            <or>
               <reference
                     definitionId="de.opalproject.vespucci.ui.definitions.sliceRepository">
               </reference>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="de.opalproject.vespucci.ui.handlers.CallEditor"
            commandId="de.opalproject.vespucci.ui.editor.openEditor">
         <enabledWhen>
            <reference
                  definitionId="de.opalproject.vespucci.ui.definitions.singleEnsemble">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="de.opalproject.vespucci.ui.handlers.CloseEditor"
            commandId="de.opalproject.vespucci.ui.editor.closeEditor">
      </handler>
      <handler
            class="de.opalproject.vespucci.ui.handlers.OpenDiagramEditor"
            commandId="de.opalproject.vespucci.ui.editor.openDiagramEditor">
         <enabledWhen>
            <or>
            <reference
                  definitionId="de.opalproject.vespucci.ui.definitions.singleSlice">
            </reference>
            </or>
         </enabledWhen>
      </handler>
   </extension>
   
   
  <!-- definitions -->
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition id="de.opalproject.vespucci.ui.definitions.ensembles">
         <with variable="selection">
            <iterate ifEmpty="false" operator="and">
               <instanceof value="de.opalproject.vespucci.datamodel.Ensemble" />
            </iterate>
         </with>
      </definition>
      <definition
            id="de.opalproject.vespucci.ui.definitions.singleEnsemble">
         <with
               variable="selection">
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="de.opalproject.vespucci.datamodel.Ensemble">
                  </instanceof>
               </iterate>
            </and>
         </with>
      </definition>
      <definition
            id="de.opalproject.vespucci.ui.definitions.ensembleRepository">
         <with
               variable="selection">
            <iterate
                  operator="and">
               <instanceof
                     value="de.opalproject.vespucci.datamodel.EnsembleRepository">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition id="de.opalproject.vespucci.ui.definitions.slices">
         <with variable="selection">
            <iterate ifEmpty="false" operator="and">
               <instanceof value="de.opalproject.vespucci.datamodel.Slice" />
            </iterate>
         </with>
      </definition>
      <definition
            id="de.opalproject.vespucci.ui.definitions.singleSlice">
         <with
               variable="selection">
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="de.opalproject.vespucci.datamodel.Slice">
                  </instanceof>
               </iterate>
            </and>
         </with>
      </definition>
      <definition
            id="de.opalproject.vespucci.ui.definitions.sliceRepository">
         <with
               variable="selection">
            <iterate
                  operator="and">
               <instanceof
                     value="de.opalproject.vespucci.datamodel.SliceRepository">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>

  <!-- transaction editing domain -->
  <extension
        point="org.eclipse.emf.transaction.editingDomains">
     <editingDomain
           factory="de.opalproject.vespucci.ui.domain.DatamodelEditingDomainFactory"
           id="de.opalproject.vespucci.navigator.domain.DatamodelEditingDomain"/>
  </extension>
  <extension
        point="org.eclipse.emf.transaction.listeners">
     <listener class="de.opalproject.vespucci.ui.navigator.listeners.EnsembleRemoveListener">
        <editingDomain id="de.opalproject.vespucci.navigator.domain.DatamodelEditingDomain"/>
     </listener>
  </extension>
  
  <!-- editor -->
  <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.opalproject.vespucci.ui.editor.EnsembleEditor"
            default="false"
            icon="res/Ensemble.gif"
            id="de.opalproject.vespucci.editor.editor"
            name="Ensemble Editor">
      </editor>
   </extension>

</plugin>
