<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- new view definition -->
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.opalproject.vespucci.navigator.category"
            name="Vespucci Global Repository" />
      <view
            allowMultiple="false"
            category="de.opalproject.vespucci.navigator.category"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="de.opalproject.vespucci.navigator.view"
            name="Vespucci"
            restorable="true" />
   </extension>

   <!-- navigator definition  -->
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="de.opalproject.vespucci.navigator.view" />
      <viewerContentBinding viewerId="de.opalproject.vespucci.navigator.view">
         <includes>
            <contentExtension pattern="org.eclipse.ui.navigator.resourceContent"/>
	        <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
            <contentExtension pattern="de.opalproject.vespucci.navigator.VirtualContent"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="de.opalproject.vespucci.navigator.view">
         <includes>
       	     <actionExtension pattern="org.eclipse.ui.navigator.resources.*" />
         </includes>
      </viewerActionBinding>
   </extension>

   <!-- content definiton for navigator  -->
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="de.opalproject.vespucci.ui.navigator.providers.VespucciContentProvider"
            id="de.opalproject.vespucci.navigator.VirtualContent"
            labelProvider="de.opalproject.vespucci.ui.navigator.providers.VespucciLabelProvider"
            name="Virtual content"
            priority="normal">
         <triggerPoints>
            <or>
              <and> 
                <instanceof value="org.eclipse.core.resources.IResource"/> 
                 <test 
						forcePluginActivation="true" 
						property="org.eclipse.core.resources.extension" 
						value="xmi"/> 
              </and>
              <instanceof value="de.opalproject.vespucci.datamodel.Ensemble" />
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.eclipse.emf.ecore.resource.Resource"/>
               <instanceof value="de.opalproject.vespucci.datamodel.Ensemble" />
            </or>
         </possibleChildren>
      </navigatorContent>
  </extension>

  <!-- commands -->
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="de.opalproject.vespucci.ui.handlers.NewEnsembleHandler"
           id="de.opalproject.vespucci.navigator.edit.new"
           name="new"/>
  </extension>  
  
   <!-- popup menu for ensembles -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.edit">
         <command
               commandId="de.opalproject.vespucci.navigator.edit.new"
               id="de.opalproject.vespucci.navigator.popupmenu.new"
               label="New Ensemble"
               mnemonic="N"
               style="push" >
         </command>
         <command
               commandId="de.opalproject.vespucci.editor.openEditor"
               id="de.opalproject.vespucci.navigator.popupmenu.open"
               label="Open"
               style="push" >
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               id="de.opalproject.vespucci.navigator.popupmenu.delete"
               label="Delete"
               mnemonic="D"
               style="push" >
         </command>
         <command
               commandId="org.eclipse.ui.edit.rename"
               id="de.opalproject.vespucci.navigator.popupmenu.rename"
               label="Rename"
               mnemonic="R"
               style="push">
         </command>
      </menuContribution>
    </extension>
    
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.opalproject.vespucci.ui.handlers.RenameHandler"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <reference definitionId="de.opalproject.vespucci.navigator.elementSelected" />
         </activeWhen>
         <enabledWhen>
            <reference definitionId="de.opalproject.vespucci.navigator.elementSelected" />
         </enabledWhen>
      </handler>
      <handler
            class="de.opalproject.vespucci.ui.handlers.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="de.opalproject.vespucci.navigator.elementSelected">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="de.opalproject.vespucci.navigator.elementSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="de.opalproject.vespucci.ui.handlers.NewEnsembleHandler"
            commandId="de.opalproject.vespucci.navigator.edit.new">
         <activeWhen>
            <reference
                  definitionId="de.opalproject.vespucci.navigator.elementSelected">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="de.opalproject.vespucci.navigator.elementSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            commandId="de.opalproject.vespucci.editor.openEditor">
         <activeWhen>
            <reference
                  definitionId="de.opalproject.vespucci.navigator.elementSelected">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="de.opalproject.vespucci.navigator.elementSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>

   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition id="de.opalproject.vespucci.navigator.elementSelected">
         <with variable="selection">
            <iterate ifEmpty="false" operator="or">
               <instanceof value="de.opalproject.vespucci.datamodel.Ensemble" />
            </iterate>
         </with>
      </definition>
   </extension>

  <!-- transaction editing domain -->
  <extension
        point="org.eclipse.emf.transaction.editingDomains">
     <editingDomain
           factory="de.opalproject.vespucci.ui.domain.DatamodelEditingDomainFactory"
           id="de.opalproject.vespucci.navigator.domain.DatamodelEditingDomain"/>
  </extension>
  <extension
        point="org.eclipse.emf.transaction.listeners">
     <listener class="de.opalproject.vespucci.ui.navigator.listeners.EnsembleRemoveListener">
        <editingDomain id="de.opalproject.vespucci.navigator.domain.DatamodelEditingDomain"/>
     </listener>
  </extension>
  
  <!-- editor -->
  <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.opalproject.vespucci.ui.editor.EnsembleEditor"
            default="false"
            id="de.opalproject.vespucci.editor.editor"
            name="Ensemble Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.opalproject.vespucci.ui.handlers.CallEditor"
            id="de.opalproject.vespucci.editor.openEditor"
            name="open">
      </command>
      <command
            defaultHandler="de.opalproject.vespucci.ui.handlers.CloseEditor"
            id="de.opalproject.vespucci.editor.closeEditor"
            name="close">
      </command>
   </extension>

</plugin>
