<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension
      point="org.eclipse.graphiti.ui.diagramTypes">
    <diagramType
      description="This is the diagram type for the Slice Editor"
      id="de.opalproject.vespucci.sliceEditor.sliceEditorDiagramType"
      name="sliceEditor Diagram Type"
      type="sliceEditor">
    </diagramType>
  </extension>

  <extension
      point="org.eclipse.graphiti.ui.diagramTypeProviders">
    <diagramTypeProvider
      class="de.opalproject.vespucci.sliceEditor.SliceEditorDiagramTypeProvider"
      description="This the editor for the sliceEditor"
      id="de.opalproject.vespucci.sliceEditor.sliceEditorDiagramTypeProvider"
      name="sliceEditor">
      <diagramType
        id="de.opalproject.vespucci.sliceEditor.sliceEditorDiagramType">
      </diagramType>
      <imageProvider
            id="de.opalproject.vespucci.sliceEditor.ImageProvider">
      </imageProvider>
   </diagramTypeProvider>
 </extension>

<extension
      point="org.eclipse.graphiti.ui.imageProviders">
   <imageProvider
         class="de.opalproject.vespucci.sliceEditor.ImageProvider"
         id="de.opalproject.vespucci.sliceEditor.ImageProvider">
   </imageProvider>
    

  </extension>
<extension
      id="de.opalproject.vespucci.sliceEditor.marker"
      name="VespucciMarker"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.core.resources.problemmarker">
   </super>
</extension>
<extension
      id="de.opalproject.vespucci.sliceEditor.childMarker"
      name="VespucciChildMarker"
      point="org.eclipse.core.resources.markers">
   <persistent
         value="true">
   </persistent>
   <super
         type="de.opalproject.vespucci.sliceEditor.de.opalproject.vespucci.sliceEditor.marker">
   </super>
</extension>
<extension
      id="de.opalproject.vespucci.sliceEditor.parentMarker"
      name="VespucciParentMarker"
      point="org.eclipse.core.resources.markers">
   <persistent
         value="true">
   </persistent>
   <super
         type="de.opalproject.vespucci.sliceEditor.de.opalproject.vespucci.sliceEditor.marker">
   </super>
</extension>
 </plugin>
